body{
    font-family:'irsns';
}
  @font-face {
    font-family: 'irsns';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/eot/IRANSansWeb_FaNum.eot');
    src: url('../fonts/eot/IRANSansWeb_FaNum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
       url('../fonts/woff2/IRANSansWeb_FaNum.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
       url('../fonts/woff/IRANSansWeb_FaNum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../fonts/ttf/IRANSansWeb_FaNum.ttf') format('truetype');
  }
  
  .kt-login.kt-login--v2 .kt-login__wrapper .kt-login__container .kt-form .form-control{
      color:white;
  }
  .small, small{
    color:white;
}